@font-face {
  font-family: "iconfont"; /* Project id 3700463 */
  src: url('iconfont.woff2?t=1668578051469') format('woff2'),
       url('iconfont.woff?t=1668578051469') format('woff'),
       url('iconfont.ttf?t=1668578051469') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-changjingdakai:before {
  content: "\e628";
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-tuichuquanping:before {
  content: "\e8fb";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-xiaoxitongzhi:before {
  content: "\e69e";
}

.icon-user:before {
  content: "\e68e";
}

.icon-shenqingquanxian:before {
  content: "\e640";
}

.icon-camera:before {
  content: "\e600";
}

.icon-cc-arrow-left-square:before {
  content: "\e60b";
}

.icon-cc-arrow-right-square:before {
  content: "\e60e";
}

.icon-location:before {
  content: "\e790";
}

.icon-edit-square:before {
  content: "\e791";
}

.icon-mobile:before {
  content: "\e7b2";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-grid:before {
  content: "\e656";
}

.icon-keshihua:before {
  content: "\e603";
}

.icon-monitor:before {
  content: "\e639";
}

.icon-odometer:before {
  content: "\e66f";
}

