{
    "presets": [
      ["@babel/preset-env", { "modules": false }],
      "@vue/babel-preset-jsx", // 支持jsx语法
      "@vue/cli-plugin-babel/preset"
    ],
    "plugins": [
      [
        "@babel/plugin-transform-runtime"
      ]
    ]
}