.openai {
    margin: 20px;
}
.openai-issue textarea {
    width: calc(100% - 20px);
    border: none;
    height: 200px;
    padding: 10px;
    font-size: 15px;
}
.openai-submit {
    margin: 10px 0;
}
.openai-answer {
    height: 300px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}