.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0;
}
.error-title {
    font-size: 10rem;
    letter-spacing: 1px;
    background-image:-webkit-linear-gradient(bottom,red,#fd8403,yellow); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
}
.error-remark {
    font-size: 1.5rem;
    margin: 0 0 20px 0;
    letter-spacing: 1px;
    color: #5f5e5e;
}